<div class="welcomebanner" @fade1>
  F.A.Q s
</div>

<div class="container bgtransparent" @fade2>
  <button class="accordion">
    Do I need a minimum level of yoga experience before applying for the
    200-hour Yoga Teacher Training Course ?
  </button>
  <div class="panel">
    <p>
      It is not required. You can come in as a total beginner, and introduce
      yourself to the practice. The yoga classes will help open and loosen your
      body. Yoga is not just physical, but a composite whole of the mental,
      emotional and spiritual. It is about allowing all these branches of life
      to grow within you
    </p>
  </div>

  <button class="accordion">
    I am not very flexible and cannot do many postures, can I still join the
    course?
  </button>
  <div class="panel">
    <p>
      Yes, if this is the case then you will benefit from the course more than
      anyone else, as Yoga improves your flexibility. However, please remember
      that Yoga is about so much more than just physical postures
    </p>
  </div>

  <button class="accordion">
    My English is not very good, will this be a barrier during the course?
  </button>
  <div class="panel">
    <p>
      As long as you can understand basic English, you should be fine. If you
      understand English very well but speak a little bit, there will still be
      no problems. There are always non-native English students and we take this
      into consideration as much as possible to ensure that the material being
      taught is understood by everyone. If you are worried about your level then
      please send us an email and we can talk about your concerns
    </p>
  </div>

  <button class="accordion">
    What is the maximum number of students allowed on a course?
  </button>
  <div class="panel">
    <p>The maximum number of students allowed in a course are 21</p>
  </div>

  <button class="accordion">What happens if I miss some classes?</button>
  <div class="panel">
    <p>
      If there is a valid reason for missing your classes, ofcourse it is taken
      into consideration. But to miss classes simply on basis of boredom or ‘i
      don’t feel like it today’ is a waste of your own time and money. One of
      the key aspects of the yoga training course is to develop and instill
      discipline in yourself, and encouraging yourself to do something drawing
      in persistence and consistency. Lastly, nothing beats ‘hard work :-)
    </p>
  </div>

  <button class="accordion">
    What is the criteria for passing a Teacher Training Courses?
  </button>
  <div class="panel">
    <p>
      Your enthusiasm and dedication to learn. Atleast 90% attendance. And,
      ofcourse, that little bit extra we put in ourselves
    </p>
  </div>

  <button class="accordion">Are all of the courses taught in English?</button>
  <div class="panel">
    <p>
      Yes, with Sanskrit words, and their meaning. The course is taught in
      English
    </p>
  </div>

  <button class="accordion">What happens if I don’t pass the exam?</button>
  <div class="panel">
    <p>
      The exams are questions based on all that you have learnt. It is basic
      understanding of Yoga, and we don’t dwell into the complicated nuances,
      which, as it is, takes time to understand. The exam is looked at more, as
      a good and healthy challenge to your brain and mind, and using the beauty
      of your own words to express. Please don’t look at it as an intimidating
      issue, rather look at it as a healthy mental exercise
    </p>
  </div>

  <button class="accordion">
    Am I entitled to receive a Yoga Teacher Training certificate because I have
    paid the course fee?
  </button>
  <div class="panel">
    <p>
      Sorry, but just paying the fees does not entitle you to receive a Yoga
      Training Certificate. It is unfair to all the other co-students, some who
      have come genuinely to learn, as also to Us. We are not selling a Yoga
      Teacher training course. We are imparting a knowledge and charging you a
      basic fee. In return we work hard to make sure we teach you well and are
      doing justice to our job. After all, Yoga is about ethics, and ethical
      living
    </p>
  </div>

  <button class="accordion">Do you provide study materials/manual?</button>
  <div class="panel">
    <p>
      Yes, you will be provided with a Yoga Training Manual. We also, encourage
      you to take a lot of notes
    </p>
  </div>

  <button class="accordion">
    Will there be enough teaching opportunities during the courses?
  </button>
  <div class="panel">
    <p>
      In the beginning of a 200 hr course, it is an opportunity to learn, It is
      considered the first basic understanding required to excel in a field.
      This is required no matter which line of work you go in. We will encourage
      you to practice, because it is only through practice that one develops
      self learning. In future, there can be opportunities to teach, and it all
      depends on your own dedication. But in the beginning, we don’t promise
      anything, other than to teach you very well
    </p>
  </div>

  <button class="accordion">
    After completing the course, will I be an internationally recognised Yoga
    Teacher?
  </button>
  <div class="panel">
    <p>
      Yes! You will be Yoga Alliance Certified, and it is an internationally
      recognized certification
    </p>
  </div>

  <button class="accordion">
    Are there any internship opportunities at Satguru Yoga for students?
  </button>
  <div class="panel">
    <p>At the moment, no.</p>
  </div>

  <button class="accordion">
    I cannot come to India due to visa restrictions. Do you have offer training
    outside of India?
  </button>
  <div class="panel">
    <p>No. not yet!</p>
  </div>

  <button class="accordion">
    Due to religious restrictions, I cannot chant in any of the classes, will
    this be a problem?
  </button>
  <div class="panel">
    <p>
      You don’t have to chant if you are not comfortable for any reason. You can
      sit in silence, observe and meditate
    </p>
  </div>

  <button class="accordion">
    What if I have to leave the course for personal reasons? Can I use the fee
    paid another time?
  </button>
  <div class="panel">
    <p>
      Yes, your tuition fee may be applied to any other future course at the
      school. However, you may lose the part of the course fee paid towards
      accommodation
    </p>
  </div>

  <button class="accordion">
    Is food and accommodation included in the fee?
  </button>
  <div class="panel">
    <p>
      Yes, unless one opts for no accommodation or tuition only All meals are
      included during your stay, except for Saturday dinner and all of Sunday.
      You are free to check out some of the restaurants close by, which offer
      very good food and are of international quality
    </p>
  </div>

  <button class="accordion">What is the best way to reach Goa?</button>
  <div class="panel">
    <p>
      Goa is easily accessible by flight, train or bus depending on where you
      are coming from. Dabolim International Airport (GOI) is the closest
      airport and it is approximately 90 minutes away by taxi. GOI Airport is
      well connected by daily flights from Chennai, Mumbai, New Delhi,
      Hyderabad, Cochin and Bangalore, and many international cities. You can
      also reach Goa by train from all major cities in India. And overnight
      buses are available if you are coming from Mumbai, Hubli, or Bangalore
    </p>
  </div>

  <button class="accordion">Can I book an airport pick up through you?</button>
  <div class="panel">
    <p>
      Yes. Please do inform us your flight details – arrival, date, time and
      flight details beforehand
    </p>
  </div>

  <button class="accordion">How can I apply for a visa?</button>
  <div class="panel">
    <p>
      You can get a tourist visa from your nearest Indian consulate or embassy.
      It is possible to download the application form from Internet. If the
      consulate issues your visa, please note that it will start from the date
      issued, not from the date of your travel. It is recommended that you apply
      in advance. E-visas can be applied for online and are valid for one month.
      These are validated at the airport on the day of departure No visa is
      extendable once you have entered India
    </p>
  </div>

  <button class="accordion">Do you recommend any vaccinations?</button>
  <div class="panel">
    <p>
      Goa is a very safe place and malaria-free, and in general we do not
      consider vaccinations necessary. Consult your doctor and your country’s
      Government Health Regulations when you are considering travel to India for
      up to date recommendations on vaccinations. There is however no fear of
      contracting Malaria or Hepatitus. We offer super clean drinking water, and
      although there are mosquitoes in Goa, they only bite and are not carriers
      of disease. However, it is up to you and at your discretion
    </p>
  </div>

  <button class="accordion">
    Will I need to bring any particular clothing?
  </button>
  <div class="panel">
    <p>
      As the weather is quiet warm and breezy, light cotton clothing is
      preferred and will be very comfortable. It does get quiet chilly in the
      months of December and January, and if you are coming at this time, some
      warm clothing will be very helpful. Please do carry some white clothing of
      your choice, for the closing ceremony and also for some meditations. White
      clothing can also be purchased from the local shops, if you like
    </p>
  </div>

  <button class="accordion">Do you provide yoga mats?</button>
  <div class="panel">
    <p>Yes</p>
  </div>

  <button class="accordion">What should I bring for the course?</button>
  <div class="panel">
    <p>
      Just yourself, and an open mind to learn. You will also be entering into a
      new culture as India is a very different country from many other parts of
      the world. An open mind will help you to receive and appreciate, rather
      than close down. Apart from that, comfortable yoga clothes, swimwear, flip
      flops, preferred toiletries, mosquito spray, electrical adaptor, and any
      medication you are taking or that you may need
    </p>
  </div>

  <button class="accordion">
    Can I participate in a Teacher Training Course if I have an injury or
    existing health condition / am pregnant?
  </button>
  <div class="panel">
    <p>
      Yes. If you are expecting, you will have no problems, infact most of the
      asanas, pranayama and meditations will bring a very beneficial and healing
      effect within you and your body. Classes, especially the Asanas and
      Pranayama classes will be modified to suit your stage of pregnancy. For
      injuries, a lot will depend on what injury you have, and classes will be
      modified for you, for the same. Health conditions, will be taken into
      account. As yoga is especially good for improving your health and existing
      health condition, this would be a prime time to see its therapeutic
      effects on you. Diabetes - 1 and 2, High / low blood pressure, back
      problems, digestion issues, as well as mild stages of kidney problems. You
      are also welcome to mail us of your concern, for the same
    </p>
  </div>

  <button class="accordion">How long does it take to get to the beach?</button>
  <div class="panel">
    <p>
      It is less than 5 minutes walk both sides. You have two beaches, one is
      the Patnem beach and the other is the Palolem Beach on each side. We are
      in the centre of both
    </p>
  </div>

  <button class="accordion">Do you have hot water and electricity?</button>
  <div class="panel">
    <p>
      There is electricity, but you are coming to India, and so, welcome to
      powercuts. Don’t worry, it will give you a good feeling of going back in
      time. Hot water is provided
    </p>
  </div>

  <button class="accordion">Is it safe to drink the water?</button>
  <div class="panel">
    <p>
      Yes, the water we serve is very high grade purified water and completely
      safe
    </p>
  </div>

  <button class="accordion">
    Is the food suitable for vegetarians and vegans?
  </button>
  <div class="panel">
    <p>
      Yes, we provide vegetarian and vegan meals. Also diet can be suited for
      allergies, sugar problems BP etc.
    </p>
  </div>

  <button class="accordion">
    I have specific dietary requirements and/or food allergies. Will this be a
    problem?
  </button>
  <div class="panel">
    <p>Same as above. Answer is yes, ofcourse</p>
  </div>

  <button class="accordion">Is there free wifi?</button>
  <div class="panel">
    <p>Yes</p>
  </div>

  <button class="accordion">Is it safe to leave valuables in the room?</button>
  <div class="panel">
    <p>We provide you a locker, and you can keep the key</p>
  </div>

  <button class="accordion">Do you provide a laundry service?</button>
  <div class="panel">
    <p>Yes, it is available for a small fee</p>
  </div>

  <button class="accordion">Are there any shops nearby?</button>
  <div class="panel">
    <p>
      Yes. And they are very well equipped, as the shops cater to tourists and
      expats from all over the world
    </p>
  </div>

  <button class="accordion">Where can I withdraw and exchange money?</button>
  <div class="panel">
    <p>
      There are Atm machines in our town which is 3 kms away- Chawri. You can
      exchange money with us, if we have. And there are a few reputed money
      exchange shops, both in Palolem and Patnem, which are a 10- 15 mt walking
      distance away
    </p>
  </div>

  <button class="accordion">What will the weather be like?</button>
  <div class="panel">
    <p>
      Warm, sunny, breezy, mild, sometimes hot and also chilly. It will all
      depend on which time of the month you will be here.
    </p>
  </div>

  <button class="accordion">How strong is the sun?</button>
  <div class="panel">
    <p>
      It has its own mood. But as you come into Goas’ winter time, the sun will
      feel very pleasant. December and January can be quiet cold, and February &
      March afternoon sun can be hot. Good time to stay indoors
    </p>
  </div>

  <div class="text-center">
    ALL RIGHT, ENJOY YOUR STAY & WELCOME TO GOA AND SATGURU YOGA
  </div>
</div>