<div class="welcomebanner" @fade1>
  About our Teachers
</div>

<div class="container bgtransparent">


  <div class="pic">
    <div class="banner banner1" @fade2>
    </div>
    <div class="caption" @fade3>Sunita Singh</div>
  </div>

  <div class="hbreak"></div>

  <div class="title" @fade4>
    Sunita has been teaching yoga to people all around the world.
    She has extensive experience teaching individual and group classes.
    Through her experience she has acquired the remarkable ability to assess and grasp her students’ capacities and
    capabilities,
    and also limitations.
    Her teaching style is based on a scientific approach to Yoga, using the core important tools of movement,
    deep breathing and resting and staying in a pose. Her approach to yoga is the therapeutic approach because each body
    has an accumulation of emotions, thoughts and vibrations due to various influences in their lives,
    some of which are not conducive at all to one’s well being.
    <br />
    <br />
    Sunita believes that the positive attitude is essential for anyone to overcome limitations lying within them;
    and is the essential quality to integrate a wellbeing of body, mind & soul. She empowers her students to discover
    their hidden strengths and inspires them to use these hidden strengths,
    unique to us all, and incorporate them with the principles of yoga in their everyday lives.
    She believes Yoga is a necessary and a simple way to keep health in body and mind,
    an efficient way to release negative energies – past and present, and is a key force in helping You to be Yourself
    <br /><br />
    Yoga is a journey and it does not stop just at asanas. It is a growth that helps integrate yourself and
    takes you on to higher planes lying within.
  </div>



  <div class="pic">
    <div class="banner banner2">
    </div>
    <div class="caption">Swami Satchidananda Saraswathi</div>
  </div>

  <div class="hbreak"></div>

  <div class="title">
    Swami Satchidananda Saraswathi will be teaching Yoga Philosphy and the Bhagvad Gita, as well as his special yoga
    classes.
    <br />
    <br />
    Swami Satchidananda Saraswathi learnt yoga from the Sivananda Yogashram Rishikesh in 2005, and he took up sanyaas
    (renouncing the worldly life). For the next few years he spent his summers up in the high holy mountains of
    Badrinath,
    and in the winters he came down to the south and taught yoga either in ashrams or spent time in quiet meditation
    and doing Karma Yoga (selfless service). He is originally from South India, Hyderabad, Andhra Pradesh.
    Before he studied yoga, he had already graduated in Law and Electronic Sciences from the Nagarjuna University from
    his
    home state, Andhra Pradesh.
    Being always spiritual in nature, he also went ahead and studied Astrology completing his Masters in that subject.  
    From 2006, he has been teaching yoga, using the benefits of asanas, pranayam and meditation to help people. He has
    taught in various places, and has also gone on to teach in Russia, Ukraine, Serbia, Germany. Last year he was
    teaching in an ayurvedic clinic in Hungary.
    He is a gentle and simple soul, wise in nature and takes time out every year to go on pilgrimages in holy places.

  </div>



  <div class="pic">
    <div class="banner banner3" @fade2>
    </div>
    <div class="caption" @fade3>Dhirendra Brahamchari (Sunita's Teacher)</div>
  </div>

  <div class="hbreak"></div>

  <div class="title" @fade4>
    Dhirendra Brahmachari (12 February 1924 – 9 June 1994), was born Dhirendra Choudhary in village Basaith Chanpura,
    Madhubani, Bihar. Inspired by reading the Bhagavad Gita, he left home at the age of thirteen and went to Varanasi.
    His guru was Maharshi Kartikeya whose ashram was at Gopal-Khera, about twelve miles from Lucknow. Dhirendra
    Brahmachari studied yoga and associated subjects there. His former years were spent in training with his guru and
    other masters, and he lived in the forests and learnt and practiced the secrets of Yoga and health.
    In his 20’s he came to the city of Calcutta, and started teaching yoga to the public. It was from there that his
    teachings spread and reached the ears of Jawaharlal Nehru, who himself was into yoga, and the first Prime Minister
    of free India, after 300 years of British rule.
    <br /><br />
    Jawaharlal Nehru invited him to teach yoga to his daughter, Indira Gandhi, to improve her health. She later on went
    to become a
    very dynamic personality and the future
    Prime Minister of India.
    In the mid 60’s he was invited to travel to the U.S.S.R. as a hatha yoga expert to
    teach breathing exercises and train Soviet cosmonauts
    <br />

    He was the yoga guru of Yogi Bhajan , who was a frequent visitor to the ashram,
    while he was working as a customs officer in the Delhi International airport,
    before he went off to America, and introduced Kundalini Yoga in the West and
    founded the 3HO.

    <br />
    <br />
    He was the first yoga guru to introduce yoga to the public.
    He opened a yogashram called the Vishwayatan Yogashram, in the centre
    of Delhi, which is now known as the Morarji Desai National Institute of Yoga. His
    aim was to bring yoga out to the common man, because he felt yoga was good for
    everybody and imperative for good health. It was here in this centre that the
    doors of yoga opened out to the public, and daily classes were given.
    The Yoga was known as ‘Sukshyam Yog’ or The Yoga of the Subtle Body. Classes
    started at 5.00 am in the morning with cleansing exercises, or ‘Shatkarmas’, and
    treatments were also offered for the various common, but serious ailments which
    afflict the vast public, due to the fast pace of life, stress, bad eating habits and
    lifestyle. The centre offered Yoga classes, as well as Pranayam, and Meditation.
    Many people came from all walks of life, and benefitted a lot from his style of
    yoga.

    <br /><br />
    He also insisted that those who were too sick or infirm to take a bus and come to
    the centre, or even housewives who were preoccupied at home, they too, must
    have the opportunity to practice yoga; and so, In the late 1970s, Dhirendra
    Brahmachari promoted the benefits of yoga in a weekly program called
    "Yogabhyaas" which was broadcast on Doordarshan, the national network
    television. Now people could sit at home and do yoga.
    He introduced yoga as a subject of study in Delhi administered government
    schools, a considerable innovation. And made it mandatory in the school
    curriculum as he felt yoga was very important for the growing child
    And, in this quiet way, he brought yoga out to the common man.
    He wrote books on yoga in Hindi and English including 'Yogic Sukshma Vyayama'
    and 'Yogasana Vijnana'.
    <br /><br />
    At the peak of his time, he was once asked by his students, how he would leave
    this earth. He had answered, saying, “Either I will go as a Yogi, leaving my body
    behind, or I will die in a plane crash.” In 1994, he died in a plane crash while
    travelling through a tempestuous storm.
    He trained many thousand students and teachers. Reinhard Gammenthaler is one
    of his famous students, who trained with Dhirendra Brahmachaari, in his ashram
    for many years, learning the secrets of Yoga from Him
  </div>


</div>