<div class="welcomebanner" @fade1>
  Useful Links
</div>
<div class="intro" @fade1>
  We have some useful links having references and self learn excercises that
  will help you towards your spiritual journey.
</div>
<div class="container" @fade2>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="postcontainer">
        <div class="posttitle">
          Sample Post title
        </div>

        <div class="postbody">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          cursus, sapien interdum sollicitudin finibus, risus sapien tempus
          felis, eget mollis dolor enim a neque. Etiam faucibus non urna ac
          imperdiet. Nam elementum gravida ante. Nulla sed purus eget urna
          suscipit finibus. Suspendisse neque ipsum, elementum sed consectetur
          a, mollis eu lacus. Suspendisse dapibus porta massa, eu mattis erat
          aliquet a. Suspendisse potenti. Duis sagittis, turpis in maximus
          viverra, sem metus cursus ipsum, a gravida urna tellus nec mi.
          <br />
          Aenean vestibulum aliquam sollicitudin. Duis congue metus vel vehicula
          condimentum. Fusce sollicitudin elit in quam iaculis tincidunt.
          Suspendisse dictum, leo sed fringilla vulputate, tellus erat volutpat
          diam, nec dictum urna nibh id enim. Integer mattis ante quis urna
          placerat, quis ullamcorper tortor maximus. Donec eget sem nisi. In
          blandit leo nec rutrum varius. Vestibulum ultricies odio risus, eu
          tincidunt felis rhoncus ut. Proin vel molestie dolor. Aliquam non
          augue finibus, laoreet velit sed, lacinia nibh. Cras lorem lorem,
          maximus sit amet mi non, sollicitudin condimentum mi. Aenean tempor
          ante vitae neque blandit dictum.
          <br />
          Duis quis mauris erat. Maecenas blandit ante magna, tempus eleifend
          metus gravida nec. Nunc congue diam eu leo pretium efficitur. In
          pellentesque id elit sit amet faucibus. Vestibulum molestie faucibus
          varius. Vestibulum et odio vel sapien rhoncus finibus vel vel leo.
          Aliquam ut aliquet elit, sit amet vulputate nisl. Suspendisse finibus
          pretium lacus in sollicitudin. Integer posuere sagittis turpis, auctor
          mollis justo. Sed vitae purus ullamcorper felis dapibus ornare nec
          porta nulla. Etiam lorem odio, molestie consequat mi eget, ultricies
          pharetra lectus. Aenean leo diam, venenatis vel ipsum sed, rhoncus
          consectetur nunc. Suspendisse sit amet est eros. In hac habitasse
          platea dictumst. Sed vestibulum convallis magna id efficitur. Aenean
          ligula orci, rutrum ac sollicitudin sit amet, viverra a ligula.
        </div>

        <div class="postauthor">
          - Sample Author
        </div>
      </div>
    </div>
  </div>
</div>
