<div class="welcomebanner" @fade1>
  Daily Classes

</div>

<div class="container bgtransparent">
  <div class="text-justify title" @fade2>

    Daily classes are for ninety minute/ plus. They include warm-ups, breathing exercises (pranayama), asanas and deep
    relaxation.
    The focus is in on strengthening the body, and also making it more flexible. It helps to improve health.
    The class is a combination of dynamic movement with emphasis on breathing. Helps to open the body from within.
    It is an energy based yoga, and not a forceful at all, but one that works according to the capacity and capability
    of one self.


    <br /><br />

  </div>

  <div class="banner" @fade2></div>

  <!-- <div class="hbreak"></div>

  <div class="text-center title">
    We'll be imparting knowledge for 200 Hour Yoga Alliance Teacher Training courses from our Residential
    Centre
    in Bhakti kutir, South Goa, India. Our 200 hours Teacher Training courses are Yoga Alliance registered,
    one-month intensive training certification courses that offer students the chance to get a valid and conventional
    teachings from our expert Indian teachers.<br /><br />
    The syllabus of the course has been designed to understand Yoga from a basic
    level to a step by step build up with a complete curriculum divided into 4
    modules for 4 weeks and each module will be complementary to its successor.
    Students will be given exposure to the yogic discipline in a conducive and
    positive attitude so as to prevent any misconceptions or impressions to be
    formed.
  </div>

  <div class="hbreak"></div> -->
  <div class="dateHolder">
    <div class="dates">
      <button class="accordion">Check Course Syllabus</button>
      <div class="panel">
        <div class="contain text-center">
          <p>
            A Perfect class for Beginners, Intermediates and Advanced.
          </p>





          <ul class="datebox">
            <li>
              <div class="subset">
                <p class="head">Meditation</p>
                <div class="text">

                  Meditation is that natural state of the mind when it is free from anxiety and stress.
                  Only when our mind is calm and relaxed, are we able to centre within ourselves and can take good
                  decisions and work for our highest good. <br /><br />
                  Meditations is mainly two kinds : We have active meditations, where you are consciously using
                  mantras and staying in a pose to draw in a new energy, and we have passive meditations, where you just
                  sit in silence or just be. Both are powerful, effective and healing. Meditations have the power to not
                  just calm the mind, but also change it. And, if you want to change your life, you need to change your
                  mind.
                  The power lies in the mind, and we just need to elevate it. <br /><br />
                  (Check at Bhakti Kutir/ or satguruyoga.com for dates/timings and prices)
                  For enquiries contact +91 9816693444 / +91 9823627258

                  <!-- <ul class="yogahed">
                    <li class="yogahedli">
                      Pranayama and Types<span class="litxttip">Tooltip text</span>
                    </li>
                    <li class="yogahedli">Karma Yoga</li>
                    <li class="yogahedli">Hatha Yoga</li>
                    <li class="yogahedli">Mantra Yoga</li>
                    <li class="yogahedli">Pratyahar</li>
                  </ul> -->
                </div>
              </div>
            </li>
            <br /><br />
            <!--<li>
              <div class="subset">
                <p class="head">Theoretical Sessions</p>
                <div class="text">
                  We'd also focus on various theoretical aspects of Yogic
                  disciplines which again have a lot of sub parts and would be
                  covered in class both from a student's perspective and as a
                  teacher training course perspective. We also get you through the
                  qualities and ethics of a Yoga teacher, constructive skills on
                  how to conduct a class, teacher manuals and explanantion of the
                  principles andthe methods along with their advantages.
                  <br /><br />
                  <ul class="yogahed">
                    <li class="yogahedli">
                      Philosophy of Yoga<span class="litxttip">Tooltip text</span>
                    </li>
                    <li class="yogahedli">Panch Koshas</li>
                    <li class="yogahedli">Consciousness</li>
                    <li class="yogahedli">Elements of Universe</li>
                    <li class="yogahedli">Panch Kleshas</li>
                    <li class="yogahedli">Gunas</li>
                  </ul>
                </div>
              </div>
            </li>-->
          </ul>
        </div>
      </div>
    </div>

    <div class="dates">
      <button class="accordion">Check Available time</button>
      <div class="panel">
        <div class="contain text-center">
          <p>
            Daily Classes Schedule <br />(Monday to Saturday)
          </p>
          <ul class="datebox">
            <li>
              <div class="price">
                <p class="name">Morning Yoga</p>
                <p class="name">10:00 AM</p>
              </div>
            </li>
            <li>
              <div class="price">
                <p class="name">Evening Yoga</p>
                <p class="name">5:00 PM</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="dates">
      <button class="accordion">Course Pricing</button>
      <div class="panel">

        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <!-- <div class="contain text-center">
          <p>
            We teach yoga in budget friendly Simple yet beatiful huts. <br />
            The prices for winter accomodation increases due to peak season here
            at Goa.<br /><br />
            We don't own the place, we don't control the pricing for accomodation.
            Check them out here
            <a href="http://www.bhaktikutir.com/" target="blank">www.bhaktikutir.com</a>
          </p>
          <ul class="datebox">
            <li>
              <div class="price">
                <p class="name">Single Cottage</p>
                <p class="rate">3500</p>
              </div>
            </li>
            <li>
              <div class="price">
                <p class="name">Twin Sharing Cottage</p>
                <p class="rate">3100</p>
              </div>
            </li>
            <li>
              <div class="price">
                <p class="name">Double Storey Huts</p>
                <p class="rate">3200</p>
              </div>
            </li>
            <li>
              <div class="price">
                <p class="name">Twin Sharing Double Storey Huts</p>
                <p class="rate">3000</p>
              </div>
            </li>
          </ul>
          <br />
          <p>
            >&nbsp;Winter pricing TBD
            < </p> <br />

            <p>
              Budget friendly options at <a href="http://www.sevaspalolemgoa.com/"
                target="blank">www.sevaspalolemgoa.com</a>
            </p>
            <ul class="datebox">
              <li>
                <div class="price">
                  <p class="name">Single Hut</p>
                  <p class="rate">1500</p>
                </div>
              </li>
              <li>
                <div class="price">
                  <p class="name">Twin Sharing Hut</p>
                  <p class="rate">1300</p>
                </div>
              </li>

            </ul>
            <p>
              >&nbsp;Add 300 euros for Winters
              < </p> <br />
              <br />
              <p>
                We also welcome guests who plan to book their accomodations
                separately.
              </p>
              <ul class="datebox">
                <li>
                  <div class="price">
                    <p class="name">Tution - Course Only</p>
                    <p class="rate">1100</p>
                  </div>
                </li>
                <li>
                  <div class="price">
                    <p class="name">Tution - Course + Meals</p>
                    <p class="rate">1300</p>
                  </div>
                </li>
              </ul>
        </div> -->
      </div>
    </div>
  </div>
</div>