<nav class="navibar">
  <div class="brandlogo">
    <img src="../assets/imgs/logo/logopng_b.png" class="brandimg" />
    <a routerLink="/home" class="navname">
      Satguru Yoga
    </a>

  </div>


  <div id="menuArea" *ngIf="validator">
    <input type="checkbox" id="menuToggle">

    <label for="menuToggle" class="menuOpen">
      <div class="open"></div>
    </label>

    <div class="menu menuEffects">
      <label for="menuToggle"></label>
      <div class="menuContent">
        <ul>
          <!-- <li><a routerLink="/kundalini" (click)="hideMenu()" disabled>Kundalini yoga</a></li> -->
          <li><a routerLink="/daily" (click)="hideMenu()">Daily Classes</a></li>
          <li><a routerLink="/ttc" (click)="hideMenu()">200Hr Yoga Ttc</a></li>
          <li><a routerLink="/kundalini" (click)="hideMenu()">Kundalini Yoga</a></li>
          <li><a routerLink="/teachers" (click)="hideMenu()">Our Teachers</a></li>
          <li><a routerLink="/apply" class="bolder" (click)="hideMenu()">Join Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<div class="actionArea" (click)="openMsg()">
  <i class="fa fa-envelope"></i>
</div>



<footer class="footer" *ngIf="validator">
  <div class="container">
    <div class="row footer-links">

      <div class="linkdiv col-md-4">
        <p class="linkhead">Useful Links</p>
        <a routerLink="/faq" class="linktxt">
          Faq's
        </a>
        <a routerLink="/ethics" class="linktxt">
          Ethics
        </a>
      </div>

      <div class="linkdiv col-md-4">
        <p class="linkhead">Follow us on</p>
        <div style="padding-top:7px;">
          <a href="#" class="socialicon">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" class="socialicon">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="#" class="socialicon">
            <i class="fa fa-youtube-play"></i>
          </a>
        </div>
      </div>

      <div class="linkdiv col-md-4">
        <p class="linkhead">Contact Us</p>
        <div style="padding-top:7px;">
          <div class="contactwrapper">
            <div class="number">
              <i class="fa fa-phone fa-2x"></i>
              <p class="numbers">
                +91 98166-93444 (Satguru Yoga)<br />
                +91 98236-27258 (Bhakti Kutir)
              </p>
            </div>

            <div class="number">
              <i class="fa fa-at fa-2x"></i>
              <p class="numbers">
                9sunitasingh9@gmail.com (Satguru Yoga)<br />
                bhaktikutir@gmail.com (Bhakti Kutir)
              </p>
            </div>



          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="container footdiv">

    <div style="font-size:0.8em">
      <p style="color:rgb(56, 149, 255);font-size:0.8em;text-align: right;">Develeoped by : Akash Malhotra
        (@malhotraxtreme)</p>
      All Rights Reserved&copy; {{ year}}


    </div>
  </div>

</footer>