<div class="welcomebanner" @fade1>
  Yoga Teacher Training Course
</div>
<div class="container bgtransparent">
  <div class="text-center title" @fade2>
    At Satguru Yoga we offer a traditional style of Yoga Teacher trainings. Our training depends on established teaching
    styles,
    which include: Asana, Pranayama, Meditation, Yoga Philosophy, Detoxification methods and Stress management,
    through teachers who have taken the time and trouble to create a deep self practice and use the wisdom of Yoga to
    help
    themselves grow.Satguru Yoga welcomes everybody to experience yoga by understanding its basic, all encompassing
    nature.


    <br /><br />

    It is our dream of training extremely competent teachers, with a profound and deep knowledge of yoga.
    The chief motto of Satguru Yoga is to create skilled and compassionate yoga teachers that can spread the holistic
    benefits of yoga, and create a better humane society.

  </div>

  <div class="banner" @fade2></div>

  <div class="hbreak"></div>

  <div class="text-center title">
    We'll be imparting knowledge for 200 Hour Yoga Alliance Teacher Training courses from our Residential
    Centre
    in Bhakti kutir, South Goa, India. Our 200 hours Teacher Training courses are Yoga Alliance registered,
    one-month intensive training certification courses that offer students the chance to get a valid and conventional
    teachings from our expert Indian teachers.<br /><br />
    The syllabus of the course has been designed to understand Yoga from a basic
    level to a step by step build up with a complete curriculum divided into 4
    modules for 4 weeks and each module will be complementary to its successor.
    Students will be given exposure to the yogic discipline in a conducive and
    positive attitude so as to prevent any misconceptions or impressions to be
    formed.
  </div>

  <div class="hbreak"></div>
  <div class="dateHolder">
    <div class="dates">
      <button class="accordion">Check Course Syllabus</button>
      <div class="panel">
        <div class="contain text-center">
          <p>
            A strong focus will be on the therapeutic effects of asanas, poses,
            breathing exercises, and how to gain health with the practice of Yoga
          </p>
          <ul class="datebox">
            <li>
              <div class="subset">
                <p class="head">Practical Sessions</p>
                <div class="text">
                  Practice and Understanding of Asanas, their Benefits,
                  therapeutic effects, and method. Deep breathing Exercises, with
                  emphasis on how to breathe properly, Awareness of their
                  therapeutic effects, and how to combine right breathing with
                  asanas and movement. Meditation, the practice and its effects.
                  Kundalini Yoga Meditations, and understanding mantras, and their
                  meanings. We'd go through with various disciplines and
                  subcategories which are -<br /><br />
                  <ul class="yogahed">
                    <li class="yogahedli">
                      Raja Yoga
                      <!-- <span class="litxttip">Tooltip text</span> -->
                    </li>
                    <li class="yogahedli">Karma Yoga</li>
                    <li class="yogahedli">Bhakti Yoga</li>
                    <li class="yogahedli">Mantra Yoga</li>
                    <li class="yogahedli">Pratyahar</li>
                  </ul>
                </div>
              </div>
            </li>
            <br /><br />
            <li>
              <div class="subset">
                <p class="head">Theoretical Sessions</p>
                <div class="text">
                  We'd also focus on various theoretical aspects of Yogic
                  disciplines which again have a lot of sub parts and would be
                  covered in class both from a student's perspective and as a
                  teacher training course perspective. We also get you through the
                  qualities and ethics of a Yoga teacher, constructive skills on
                  how to conduct a class, teacher manuals and explanantion of the
                  principles andthe methods along with their advantages.
                  <br /><br />
                  <ul class="yogahed">
                    <li class="yogahedli">
                      Philosophy of Yoga<span class="litxttip">Tooltip text</span>
                    </li>
                    <li class="yogahedli">Panch Koshas</li>
                    <li class="yogahedli">Consciousness</li>
                    <li class="yogahedli">Elements of Universe</li>
                    <li class="yogahedli">Panch Kleshas</li>
                    <li class="yogahedli">Gunas</li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="dates">
      <button class="accordion">Check Available Dates</button>
      <div class="panel">
        <div class="contain text-center">
          <p>
            Yoga Teacher Training Courses from Nov 2019 – March 2020 <br />Each
            course takes 30 days, comes with Accommodation and Meals.
          </p>
          <ul class="datebox">
            <li class="date">Feb 10 - Mar 1 </li>
            <li class="date">Mar 9 - Mar 29</li>
            <li class="date">Apr 6 - Apr 26</li>
            <li class="date">May 4 - May 24</li>
            <!-- <li class="date">Mar 9 - Apr 7</li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="dates">
      <button class="accordion">Course Pricing</button>
      <div class="panel">
        <div class="contain text-center">
          <p>
            We teach yoga in budget friendly Simple yet beatiful huts. <br />
            The prices for winter accomodation increases due to peak season here
            at Goa.<br /><br />
            We don't own the place, we don't control the pricing for accomodation.
            If you wish to stay in exclusive cabanas at BhaktiKutir, check them out here
            <a href="http://www.bhaktikutir.com/" target="blank">www.bhaktikutir.com</a>
          </p>
          <ul class="datebox">
            <li>
              <div class="price">
                <p class="name">Single Cottage</p>
                <p class="rate">3500</p>
              </div>
            </li>
            <li>
              <div class="price">
                <p class="name">Twin Sharing Cottage</p>
                <p class="rate">3200</p>
              </div>
            </li>
            <!-- <li>
              <div class="price">
                <p class="name">Double Storey Huts</p>
                <p class="rate">3200</p>
              </div>
            </li> -->
            <li>
              <div class="price">
                <p class="name">Twin Sharing Double Storey Huts</p>
                <p class="rate">3000</p>
              </div>
            </li>
          </ul>
          <br />
          <p>
            >&nbsp;Winter pricing TBD
            < </p> <br />

            <p>
              Budget friendly options at <a href="http://www.sevaspalolemgoa.com/"
                target="blank">www.sevaspalolemgoa.com</a>
            </p>
            <ul class="datebox">
              <li>
                <div class="price">
                  <p class="name">Single Hut</p>
                  <p class="rate">1500</p>
                </div>
              </li>
              <!-- <li>
                <div class="price">
                  <p class="name">Twin Sharing Hut</p>
                  <p class="rate">1300</p>
                </div>
              </li> -->

            </ul>
            <p>
              >&nbsp;Add 300 euros for Winters
              < </p> <br />
              <br />
              <p>
                We also welcome guests who plan to book their accomodations
                separately.
              </p>
              <ul class="datebox">
                <li>
                  <div class="price">
                    <p class="name">Tution - Course Only</p>
                    <p class="rate">1100</p>
                  </div>
                </li>
                <li>
                  <div class="price">
                    <p class="name">Tution - Course + Meals</p>
                    <p class="rate">1300</p>
                  </div>
                </li>
              </ul>
        </div>
      </div>
    </div>
  </div>
</div>