<div class="welcomebanner" @fade1>
  Ethics & Guidelines
</div>

<div class="container-fluid bgtransparent">



  <ul class="rulesul" @fade3>
    <li class="rules">We follow the traditional approach of Yoga in teaching & practice. Therefore teachings can be
      different from the pattern taught in most of the western countries, and Western forms.</li>
    <li class="rules">We do not follow or teach any of the modern-day modifications of Yoga which are presented by
      several names. The students must keep in mind that the teachings will be strictly under the traditional principles
      of Yoga. This is to ensure Parampara of Yoga, or the spiritual lineage of yoga, and as it was taught!</li>
    <li class="rules">Behavior is an integral part of learning as well as the assessment procedure. Students must,
      therefore, adhere to the idea of community and harmony. This is extremely helpful to learn & grow & is an integral
      part of our own inner growth.</li>
    <li class="rules">We intend to culminate the experience of well-being on mental and physical planes of a person. The
      purpose of training and routine is to gain the maximum of our time and efforts. </li>
    <li class="rules">Discipline is a must. So the students must pursue the course routine and structure seriously.
      Attendance should be atleast 95%. And Punctuality is very important. It creates the adherence of time within us.
    </li>
    <li class="rules">There is no provision for having guests in the classes.</li>
    <li class="rules">The daily routine can be quiet intense and strenuous, sometimes for body and mind, so Students
      need
      to possess a competent and healthy state of energy and enthusiasm. If there are any health issues – physical or
      mental, please do inform us in advance of any issues or concerns. The Yoga we teach is a therapeutic form of yoga.
      And we can see if joining the course would actually help you in your health. You are free to consult your
      physician before commencing the course. </li>
    <li class="rules">Yoga is a therapy, and also brings growth, and therefore changes. Be open, rather than resistant,
      to changes that take place within. </li>
    <li class="rules">Lastly, our aim is to teach authentic yoga - What Yoga represents, what it signifies, and what
      benefits it can bring you. We are not looking at teaching popular but synthetic styles, rather we want to
      represent to you, Yoga in its truest. </li>
  </ul>




























</div>