/* You can add global styles to this file, and also import other style files */
*{
  color:rgb(60,60,60);
  font-size: 1.5rem;
}
body{
    margin: 0;
    background: whitesmoke;
    background-size: 1200% 1200%;
    background-repeat: no-repeat; 
    min-height: 400px;
    -webkit-animation: bganim 45s ease infinite;
    -moz-animation: bganim 45s ease infinite;
    animation: bganim  45s ease infinite;
}

.container-fluid{
  padding:0 !important;
  margin:0 !important;
}

@-webkit-keyframes bganim {
  0%{background-position:0% 44%}
  50%{background-position:100% 57%}
  100%{background-position:0% 44%}
}
@-moz-keyframes bganim {
  0%{background-position:0% 44%}
  50%{background-position:100% 57%}
  100%{background-position:0% 44%}
}
@keyframes bganim {
  0%{background-position:0% 44%}
  50%{background-position:100% 57%}
  100%{background-position:0% 44%}
}

.filler{
  min-height: 90vh;
  display: inline-block;
}

@font-face {
    font-family: JustAnotherHand;
    src: url('./assets/fonts/justanotherhand.ttf');
  }

@font-face {
    font-family: Sofia;
    src: url('./assets/fonts/sofia.ttf');
}

@font-face {
  font-family: PlexBold;
  src: url('./assets/fonts/plexbold.ttf');
}

@font-face {
  font-family: Ubuntu;
  src: url('./assets/fonts/Ubuntu.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/roboto.ttf');
}

@font-face {
  font-family: Pacifico;
  src: url('./assets/fonts/pacifico.ttf');
}

a{
    text-decoration: none;
}

.welcomebanner{
  padding: 5vh 0 25px; 
  font-family: Ubuntu;
  font-size: 6.3vmin;
  text-decoration: underline;
  text-align: center;
  text-shadow: 0 2px 2px rgba(255,255,255,0.6);
}

.hbreak{
  margin: 30px auto;
  width: 75%;
  height: 1px;
  text-align: center;
  border-top: 2px solid gray;
}

@media screen and (max-width: 640px) {

}









/* Animation */
.loadscreen{
  z-index: 1000;
  position: fixed;
  top:0;
  bottom:0%;
  left:0;
  right:0%;
  background: rgba(0,0,0,0.95);
  margin: 0;
  padding:0;
  display: block;
}



.lds-grid {
  display: inline-block;
  position: fixed;    
  top:40%;
  left:47%;
}
.lds-grid div {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 16px;
  left: 86px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: -5px;
  left: 46px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 16px;
  left: 5px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 50px;
  left: 30px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 70px;
  left: 60px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 100px;
  left: 86px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 122px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 106px;
  left: 5px;
  animation-delay: -1.2s;
}
/* .lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
} */
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


