<div class="topbanner" @fade1>

  'Sat' is Truth, 'Guru' is Light <br />
  So, Satguru Yoga is - The Yoga of Truth and Light.<br />

  Welcome to the first step of connecting to your
  <div class="containtext">
    <p class="highlighttext">
      Mind
    </p>
    ,
    <p class="highlighttext">
      Soul
    </p>
    &
    <p class="highlighttext">
      Spirit
    </p>
    <br />
  </div>
</div>
<div class="first banner"></div>

<div class="textbanner">
  <p class="heading">
    Take Control of your Mind
  </p>
  <p class="content">
    Mind is the most powerful tool within man. Infact, we are the mind. To be
    able to transcend the Lower mind and rise into the Higher, is what helps us
    to conquer all our negativity and weaknesses lying within, allowing us to
    become who we really are.
    <br />
    <br />
    At Satguru Yoga, a holistic approach is taken to teach the complete and
    traditional science of yoga. We explore yoga in a way which is both
    practical and spiritual. The practice consists of asanas, pranayam, and
    meditation to connect you to the power of vital energy, and strengthen your
    mind. Through these integral life sources, yoga creates a mental, physical
    and emotional balance and wellbeing in your life.
  </p>
</div>

<div class="second banner"></div>

<div class="textbanner">
  <p class="heading">
    Let your Soul Shine
  </p>
  <p class="content">
    Soul is our own Light, the immaterial and immortal part which is a part of
    the Great Universal Light. The soul lies within, and part of our journey
    here on Earth is to let this light shine. Babies and Saintly beings have
    this light illumined in them. When humans become too materialistic,
    corrupted with greed, hatred and avarice, the soul within becomes very
    dense, and the light almost dark. It is only all our good human qualities
    that allows this light to shine.
    <br /><br />
    Only once we control our desires, needs and greeds and are unaffected by the
    outside world, we can feel that light. We are all spiritual beings and the
    path that every soul eventually takes is to reach perfection, to reach union
    with the Divine. Yoga helps us on that path.
  </p>
</div>

<div class="third banner"></div>

<div class="textbanner">
  <p class="heading">
    Connect with Your Spirit
  </p>
  <p class="content">
    Spirit can be considered as the auric field around us. We are in a physical
    body, yet, it is our Spirit and the energy within that defines us. The
    Spirit is enhanced with all emotions that uplift us, give us hope, are
    filled with happiness, joy and love. Our low emotions diminishes our spirit,
    and harshness and cruelty kills it.
    <br /><br />
    Yoga is spiritual by nature, because without understanding your own
    spirituality, you cannot know yourself. You remain lost in the false layers
    of the outside world, and are easily influenced by them. When you tune in to
    the spiritual within you, you come more and more into yourself, and who you
    really are. Yoga is a journey that helps you move and grow in this journey
    of life on earth. One cannot go wrong, when one is tuned into the Higher.
    For after all, it is your own true very nature. It is who you really are.
  </p>
</div>

<div class="fourth banner"></div>