<div class="welcomebanner" @fade1>
  How about Joining us ?
</div>
<div class="container-fluid">
  <div class="row" @fade1>
    <div class="imagewrapper">
    </div>

    <div class="formwrapper">
      <form class="applyform">

        <div class="text-center contacthead">
          Apply Online Here..
        </div>

        <div class="FormStyler">
          <label for="name">Full Name</label>
          <input type="text" class="formField" id="name" placeholder="Your Name.." />
        </div>
        <div class="FormStyler">
          <label for="email">Email ID</label>
          <input type="email" class="formField" id="email" placeholder="Your Email ID.." />
        </div>
        <div class="FormStyler">
          <label for="number">Contact Number</label>
          <input type="number" class="formField" id="number" placeholder="Your Contact Number.." />
        </div>
        <div class="FormStyler">
          <label for="gender" class="radioLabel">Gender</label><br />
          <div class="radioset" id="gender">
            <label class="radio-inline"><input type="radio" name="genderradio" checked />Male</label>
            <label class="radio-inline"><input type="radio" name="genderradio" />Female</label>
            <label class="radio-inline"><input type="radio" name="genderradio" />Other</label>
          </div>
        </div>
        <div class="FormStyler">
          <label for="address">Address</label>
          <input type="text" class="formField" id="address" placeholder="Full Address with Zip code.." />
        </div>
        <div class="FormStyler">
          <label for="sel1">Selected Course</label>
          <select class="formField" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
        <div class="FormStyler">
          <label for="ques">Any Questions</label>
          <textarea class="formField" rows="5" id="ques" placeholder="Your Query here.."></textarea>
        </div>
      </form>
    </div>
  </div>
</div>